<div class="container py-4">
    <h1 class="mb-5">Вход в аккаунт</h1>
    <div class="row">
        <div class="col-7">
            <form>
                <div class="row">
                    <div class="col-6">
                        <input class="form-control" type="email"
                               v-bind:placeholder="$t('LOGIN.FORM.INPUT.EMAIL.PLACEHOLDER')">
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <input class="form-control" v-bind:type="isShow ? 'text' : 'password'"
                                   v-bind:placeholder="$t('LOGIN.FORM.INPUT.PASSWORD.PLACEHOLDER')">
                            <button type="button" class="btn btn-outline-secondary" @click="isShowPassword">
                                <i class="bi" v-bind:class="{'bi-eye-slash': !isShow, 'bi-eye': isShow}"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <a class="text-body d-block my-5" href="#">{{ $t('LOGIN.FORGOT_PASSWORD') }}</a>
            <button class="btn btn-lg btn-warning">{{ $t('LOGIN.LOGIN') }}</button>
        </div>
        <div class="col-5 pt-5">
            <p class="mt-5">{{ $t('LOGIN.DONT_ACCOUNT') }}</p>
            <a href="#" class="text-body mb-5 d-inline-block">{{ $t('LOGIN.REGISTER') }}</a>
            <p><small class="text-secondary">* - {{ $t('LOGIN.OBLIGATORY_FIELD') }}</small></p>
        </div>
    </div>
</div>