<div class="container py-4">
    <h1 class="mb-5">{{ $t('REGISTRATION.TITLE') }}</h1>
    <div class="row">
        <div class="col-md-7 col-12">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-12 mb-4">
                        <input class="form-control" type="text"
                               v-bind:placeholder="$t('REGISTRATION.FORM.INPUT.FIRSTNAME.PLACEHOLDER')">
                    </div>
                    <div class="col-sm-6 col-12 mb-4">
                        <input class="form-control" type="text"
                               v-bind:placeholder="$t('REGISTRATION.FORM.INPUT.LASTNAME.PLACEHOLDER')">
                    </div>
                    <div class="col-sm-6 col-12 mb-4">
                        <input class="form-control" type="email"
                               v-bind:placeholder="$t('REGISTRATION.FORM.INPUT.EMAIL.PLACEHOLDER')">
                    </div>
                    <div class="col-sm-6 col-12 mb-4">
                        <input class="form-control" type="text"
                               v-bind:placeholder="$t('REGISTRATION.FORM.INPUT.PHONE.PLACEHOLDER')">
                    </div>
                    <div class="col-sm-6 col-12 mb-4">
                        <div class="input-group">
                            <input class="form-control" v-bind:type="isShow ? 'text' : 'password'"
                                   v-bind:placeholder="$t('REGISTRATION.FORM.INPUT.PASSWORD.PLACEHOLDER')">
                            <button type="button" class="btn btn-outline-secondary" @click="isShowPassword">
                                <i class="bi" v-bind:class="{'bi-eye-slash': !isShow, 'bi-eye': isShow}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 mb-4">
                        <div class="input-group">
                            <input class="form-control" v-bind:type="isShowConf ? 'text' : 'password'"
                                   v-bind:placeholder="$t('REGISTRATION.FORM.INPUT.CONFIRM_PASSWORD.PLACEHOLDER')">
                            <button type="button" class="btn btn-outline-secondary" @click="isShowPasswordConf">
                                <i class="bi" v-bind:class="{'bi-eye-slash': !isShowConf, 'bi-eye': isShowConf}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <input class="form-control" type="email"
                               v-bind:placeholder="$t('REGISTRATION.FORM.INPUT.PROMO_CODE.PLACEHOLDER')">
                    </div>
                    <div class="col-sm-6 col-12 mb-4">
                        <button class="btn btn-lg btn-warning">{{ $t('REGISTRATION.FORM.BUTTON.SUBMIT') }}</button>
                    </div>
                    <div class="col-sm-6 col-12 mb-4">
                        <p>Нажимая на кнопку “Регистрация” я соглашаюсь с <a href="#">Пользовательским соглашением</a> и <a href="#">Политикой возврата средств</a></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5 col-12 pt-sm-5">
            <p class="mt-sm-5">{{ $t('REGISTRATION.HAVE_ACCOUNT') }}</p>
            <router-link to="login" class="text-body mb-5 d-inline-block">{{ $t('REGISTRATION.LOGIN') }}</router-link>
            <p><small class="text-secondary">* - {{ $t('REGISTRATION.OBLIGATORY_FIELD') }}</small></p>
        </div>
    </div>
</div>