<div class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav w-100 mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{ $t('HEADER.NAV.MARKETS.TEXT') }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">{{ $t('HEADER.NAV.MARKETS.SUB.GOODS') }}</a></li>
                                <li><a class="dropdown-item" href="#">{{ $t('HEADER.NAV.MARKETS.SUB.INDEXES') }}</a>
                                </li>
                                <li><a class="dropdown-item" href="#">{{ $t('HEADER.NAV.MARKETS.SUB.CURRENCIES') }}</a>
                                </li>
                                <li><a class="dropdown-item" href="#">{{ $t('HEADER.NAV.MARKETS.SUB.STOCK') }}</a></li>
                                <li><a class="dropdown-item" href="#">{{
                                        $t('HEADER.NAV.MARKETS.SUB.CRYPTOCURRENCIES')
                                    }}</a></li>
                                <li><a class="dropdown-item" href="#">{{ $t('HEADER.NAV.MARKETS.SUB.METALS') }}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">{{
                                    $t('HEADER.NAV.ABOUT_COMPANY')
                                }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ $t('HEADER.NAV.INSURANCE_FUND') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ $t('HEADER.NAV.TERMINAL') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ $t('HEADER.NAV.CONTACTS') }}</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a class="btn btn-outline-warning" href="#"><i class="bi bi-person-fill"></i>
                                {{ $t('HEADER.NAV.LOGIN') }}</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="btn btn-warning" href="#">{{ $t('HEADER.NAV.REGISTER') }}</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                RU
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">RU</a></li>
                                <li><a class="dropdown-item" href="#">EN</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main></main>
    <footer class="bg-black py-5">
        <div class="container">
            <div class="d-flex flex-wrap">
                <a href="#" class="me-4 text-light text-nowrap">{{ $t('FOOTER.LINK1') }}</a>
                <a href="#" class="me-4 text-light text-nowrap">{{ $t('FOOTER.LINK2') }}</a>
                <a href="#" class="me-4 text-light text-nowrap">{{ $t('FOOTER.LINK3') }}</a>
                <a href="#" class="me-4 text-light text-nowrap">{{ $t('FOOTER.LINK4') }}</a>
                <a href="#" class="me-4 text-light text-nowrap">{{ $t('FOOTER.LINK5') }}</a>
            </div>
        </div>
    </footer>
</div>